@font-face{
  font-family: "Jost";
  src: url("./fonts/Jost-Medium.ttf") format('ttf'), url("./fonts/Jost-Medium.woff") format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face{
  font-family: "Jost";
  src: url("./fonts/Jost-Bold.ttf") format('ttf'), url("./fonts/Jost-Bold.woff") format('woff');
  font-weight: 700;
  font-style: normal;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Jost';
  font-weight: 500;
  color: #FFF;
  background:  rgba(106, 34, 172, 1);
}
* {
  scrollbar-width: none;
}
body::-webkit-scrollbar {width: 0px;}

p {
  pointer-events: none;
}

span {
  pointer-events: none;
}

button {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

img{
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

a,a:hover{
  text-decoration: none;
}

.burger-bar {
  position: fixed;
  top: 50px;
  left: 56px;
  z-index: 10;
  display: flex;
  gap: 24px;
  align-items: center;
  width: fit-content;
}
@media screen and (max-width: 768px) {
  .burger-bar {
    gap: 15px;
    top: 37px;
    left: 25px;
  }
}
.burger-bar:hover .burger-bar__icon {
  transform: translateX(-3px);
  cursor: pointer;
}
.burger-bar__icon {
  transition: transform .24s ease;
}
@media screen and (max-width: 768px) {
  .burger-bar__logo {
    width: 90px;
  }
}
.burger-bar__logo:hover {
  cursor: pointer;
}
.blur-circle {
  width: 1000px;
  height: 1000px;
  box-sizing: border-box;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 0;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  filter: blur(100px);
  backdrop-filter: blur(100px);
  opacity: 0;
  animation: blurCircleAnimation 5s ease-in-out infinite;
}
.blur-circle-help {
  width: 1000px;
  height: 1000px;
  box-sizing: border-box;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 0;
  background: linear-gradient(180deg, #ADD8E6 0%, rgba(173, 216, 230, 0.5) 50%, rgba(173, 216, 230, 0) 100%);
  filter: blur(100px);
  backdrop-filter: blur(100px);
  opacity: 0;
  animation: blurCircleAnimation 4s ease-in-out infinite;
}
@keyframes blurCircleAnimation {
  0% {
    border-radius: 50%;
    transform: translateX(0) translateY(0);
  }
  25% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    transform: translateX(-10%) translateY(5%);
  }
  50% {
    border-radius: 70% 30% 30% 70% / 70% 70% 30% 30%;
    transform: translateX(10%) translateY(0);
  }
  75% {
    border-radius: 30% 70% 70% 30% / 70% 70% 30% 30%;
    transform: translateX(-5%) translateY(-5%);
  }
  100% {
    border-radius: 50%;
    transform: translateX(0) translateY(0);
  }
}


.blur-circle-page-4 {
  width: 1000px;
  height: 1000px;
  box-sizing: border-box;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 0;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  filter: blur(100px);
  backdrop-filter: blur(100px);
  opacity: 0.2;
  left: 50%;
  transform: translateX(-50%);
}
.connect-button {
  position: fixed;
  z-index: 10;
  top: 38px;
  right: 56px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 1);
  background-color: transparent;
  box-sizing: border-box;
  padding: 12.5px 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "Jost";
}
@media screen and (max-width: 768px) {
  .connect-button {
    top: 25px;
    right: 25px;
    gap: 5px;
    padding: 10px;
  }
}
.connect-button:hover {
  cursor: pointer;
}
.connect-button__text {
  font-size: 16px;
  font-weight: 700;
  line-height: 23.12px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #FFF;
}
@media screen and (max-width: 768px) {
  .connect-button__text {
    font-size: 14px;
  }
}
.connect-button__arrow {
  transition: transform .24s linear;
}
.connect-button:hover .connect-button__arrow {
  transform: translateX(3px);
}
.common-arrow-down {
  position: fixed;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  transition: opacity .24s linear;
}
@media screen and (max-width: 1024px) {
  .common-arrow-down {
    bottom: 40px;
  }
}
@media screen and (max-width: 768px) {
  .common-arrow-down {
    bottom: 20px;
  }
}
.side-map {
  position: fixed;
  z-index: 10;
  width: 150px;
  left: 76px;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 580px) {
  .side-map {
    left: 30px;
  }
}
@media screen and (max-width: 390px) {
  .side-map {
    left: 15px;
  }
}
.side-map__button {
  display: none;
  position: absolute;
  top: -46px;
  left: -10px;
  transform: rotate(180deg);
  opacity: .6;
  z-index: 100;
  transition: transform .24s ease;
}
@media screen and (max-width: 1024px) {
  .side-map__button {
    display: block;
  }
}
.side-map__help-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 330px;
  top: -34px;
  backdrop-filter: blur(0px);
  transition: backdrop-filter .5s linear;
}
.side-map__images-circle {
  position: absolute;
  backdrop-filter: blur(100px);
}
.side-map__images-circle_1 {
  top: 0;
  left: 0;
  transform: translateX(-50%);
}
.side-map__images-circle_2 {
  top: 73px;
  left: 0;
  transform: translateX(-50%);
}
.side-map__images-circle_3 {
  top: 157px;
  left: 0;
  transform: translateX(-50%);
}
.side-map__images-circle_4 {
  top: 251px;
  left: 0;
  transform: translateX(-50%);
}
.side-map__links {
  transition: opacity .24s ease, transform .24s ease;
  opacity: 0; 
  pointer-events: none;
}
.side-map:hover .side-map__help-blur{
  backdrop-filter: blur(10px);
}
.side-map:hover .side-map__links {
  opacity: 1;
  pointer-events: all;
}
@media screen and (max-width: 1024px) {
  .side-map:hover .side-map__help-blur {
    backdrop-filter: none;
  }
}
@media screen and (max-width: 1024px) {
  .side-map:hover .side-map__links {
    opacity: 0;
    pointer-events: none;
  }
}
.side-map_active .side-map__help-blur{
  backdrop-filter: blur(10px) !important;
}
.side-map_active .side-map__links {
  opacity: 1 !important;
  pointer-events: all !important;
}
.side-map__link {
  position: absolute;
  text-decoration: none;
  color: #FFF;
  font-family: "Jost";
  font-size: 20px;
  font-weight: 500;
  line-height: 28.9px;
  letter-spacing: -0.02em;
  text-align: left;
}
.side-map__link:hover {
  cursor: pointer;
}
.side-map__link_1 {
  top: -11px;
  left: 25px;
}
.side-map__link_2 {
  left: 25px;
  top: 64px;
}
.side-map__link_3 {
  left: 25px;
  top: 147px;
}
.side-map__link_4 {
  left: 25px;
  top: 240px;
}
/* ======================== COMMON =================== */

.center-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -0.02em;
  text-align: left;
  color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(180deg, #A5A5A5 0%, rgba(255, 255, 255, 0) 100%);
}

@media screen and (max-width: 1280px) {
  .center-title {
    font-size: 40px;
  }
}
@media screen and (max-width: 950px) {
  .center-title {
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  .center-title {
    font-size: 27px;
    transform: translateX(0) !important;
  }
}
@media screen and (max-width: 480px) {
  .center-title {
    font-size: 24px;
  }
}
/* ======================== PAGE-1 ================== */
.page-1 {
  height: 100vh;
  width: 100%;
  /* background-color: rgba(106, 34, 172, 1); */
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-1__text-block {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
@media screen and (max-width: 655px) {
  .page-1__text-block {
    width: 100%;
  }
}
.page-1__top-text {
  transform: translateX(85px);
}
@media screen and (max-width: 655px) {
  .page-1__top-text {
    text-align: center;
  }
}
.page-1__bottom-text {
  transform: translateX(-85px);
}
@media screen and (max-width: 655px) {
  .page-1__bottom-text {
    text-align: center;
  }
}
.page-white-color {
  color: #FFF;
}

/* =========== PAGE-2 ========== */
.page-2 {
  height: 100vh;
  width: 100%;
  /* background-color: rgba(106, 34, 172, 1); */
}
.page-2__text-block {
  position: fixed;
  left: 160px;
  bottom: 187px;
  pointer-events: none;
  opacity: 0;
}
@media screen and (max-width: 580px) {
  .page-2__text-block {
    left: 80px;
    bottom: 80px;
  }
}
@media screen and (max-width: 390px) {
  .page-2__text-block {
    left: 45px;
    bottom: 80px;
  }
}
.page-2__top-text {
  color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
  background-image: linear-gradient(180deg, #A5A5A5 0%, rgba(255, 255, 255, 0) 100%);
  font-size: 48px;
  font-weight: 700;
  line-height: 69.36px;
  letter-spacing: -0.02em;
  text-align: left;
}
@media screen and (max-width: 1280px) {
  .page-2__top-text {
    font-size: 40px;
  }
}
@media screen and (max-width: 950px) {
  .page-2__top-text {
      font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  .page-2__top-text {
      font-size: 27px;
  }
}
@media screen and (max-width: 480px) {
  .page-2__top-text {
      font-size: 24px;
  }
}
.page-2__count {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-100%, -100%);
  font-size: 24px;
  font-weight: 700;
  line-height: 34.68px;
  letter-spacing: -0.02em;
  text-align: left;
  color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
  background-image: linear-gradient(180deg, #A5A5A5 0%, rgba(255, 255, 255, 0) 100%);
}
@media screen and (max-width: 1280px) {
  .page-2__count {
    font-size: 22px;
  }
}
@media screen and (max-width: 950px) {
  .page-2__count {
      font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .page-2__count {
      font-size: 19px;
  }
}
@media screen and (max-width: 480px) {
  .page-2__count {
      font-size: 17px;
  }
}
/* Firefox */
@-moz-document url-prefix() {
  .page-2__count {
    color: #A5A5A5;
    background-image: none;
    -webkit-background-clip: initial;
    background-clip: initial;
    
  }
}
.page-2__bottom-text {
  max-width: 425px;
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  line-height: 28.9px;
  letter-spacing: -0.02em;
  text-align: left;
}
@media screen and (max-width: 1280px) {
  .page-2__bottom-text {
    font-size: 18px;
  }
}
@media screen and (max-width: 950px) {
  .page-2__bottom-text {
      font-size: 16px;
      max-width: 320px;
  }
}
@media screen and (max-width: 480px) {
  .page-2__bottom-text {
      font-size: 15px;
  }
}
/* ================= PAGE-3 ================= */
.page-3 {
  height: 100vh;
  width: 100%;
  /* background-color: rgba(106, 34, 172, 1); */
}
.page-3__text-block {
  position: fixed;
  right: 180px;
  bottom: 187px;
  pointer-events: none;
  opacity: 0;
}
.page-3__top-text {
  color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
  background-image: linear-gradient(180deg, #A5A5A5 0%, rgba(255, 255, 255, 0) 100%);
  font-size: 48px;
  font-weight: 700;
  line-height: 69.36px;
  letter-spacing: -0.02em;
  text-align: left;
}
.page-3__count {
  position: absolute;
  top: 0;
  right: -32px;
  transform: translate(-100%, -100%);
  font-size: 24px;
  font-weight: 700;
  line-height: 34.68px;
  letter-spacing: -0.02em;
  text-align: left;
  color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
  background-image: linear-gradient(180deg, #A5A5A5 0%, rgba(255, 255, 255, 0) 100%);
}
/* Firefox */
@-moz-document url-prefix() {
  .page-3__count {
    color: #A5A5A5;
    background-image: none;
    -webkit-background-clip: initial;
    background-clip: initial;
  }
}
.page-3__bottom-text {
  max-width: 408px;
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  line-height: 28.9px;
  letter-spacing: -0.02em;
  text-align: left;
}

/* ================== PAGE-4 =============== */
.page-4 {
  height: 100vh;
  width: 100%;
  /* background-color: rgba(106, 34, 172, 1); */
}
.page-4__text-block {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  bottom: 216px;
  opacity: 0;
}
.page-4__count {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  font-size: 24px;
  font-weight: 700;
  line-height: 34.68px;
  letter-spacing: -0.02em;
  text-align: left;
  color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
  background-image: linear-gradient(180deg, #A5A5A5 0%, rgba(255, 255, 255, 0) 100%);
}
/* Firefox */
@-moz-document url-prefix() {
  .page-4__count {
    color: #A5A5A5;
    background-image: none;
    -webkit-background-clip: initial;
    background-clip: initial;
  }
}
.page-4__top-text {
  color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
  background-image: linear-gradient(180deg, #A5A5A5 0%, rgba(255, 255, 255, 0) 100%);
  font-size: 48px;
  font-weight: 700;
  line-height: 69.36px;
  letter-spacing: -0.02em;
  text-align: left;
}
.page-4__bottom-text {
  max-width: 408px;
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  line-height: 28.9px;
  letter-spacing: -0.02em;
  text-align: left;
}

/* =============== PAGE-5 ===================== */
.page-5 {
  height: 100vh;
  width: 100%;
  /* background-color: rgba(106, 34, 172, 1); */
}
.page-5__text-block {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 0;
}
.page-5__count {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  font-size: 24px;
  font-weight: 700;
  line-height: 34.68px;
  letter-spacing: -0.02em;
  text-align: left;
  color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
  background-image: linear-gradient(180deg, #A5A5A5 0%, rgba(255, 255, 255, 0) 100%);
}
/* Firefox */
@-moz-document url-prefix() {
  .page-5__count {
    color: #A5A5A5;
    background-image: none;
    -webkit-background-clip: initial;
    background-clip: initial;
  }
}
.page-5__top-text {
  color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
  background-image: linear-gradient(180deg, #A5A5A5 0%, rgba(255, 255, 255, 0) 100%);
  font-size: 48px;
  font-weight: 700;
  line-height: 69.36px;
  letter-spacing: -0.02em;
  text-align: left;
}
.page-5__bottom-text {
  max-width: 408px;
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  line-height: 28.9px;
  letter-spacing: -0.02em;
  text-align: center;
}

/* ========= PAGE-6 ============= */
.page-6 {
  height: 100vh;
  width: 100%;
  /* background-color: rgba(106, 34, 172, 1); */
}
.page-6__text-block {
  position: fixed;
  left: 164px;
  bottom: 158px;
  pointer-events: none;
  opacity: 0;
}
.page-6__count {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-100%, -100%);
  font-size: 24px;
  font-weight: 700;
  line-height: 34.68px;
  letter-spacing: -0.02em;
  text-align: left;
  color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
  background-image: linear-gradient(180deg, #A5A5A5 0%, rgba(255, 255, 255, 0) 100%);
}
/* Firefox */
@-moz-document url-prefix() {
  .page-6__count {
    color: #A5A5A5;
    background-image: none;
    -webkit-background-clip: initial;
    background-clip: initial;
  }
}
.page-6__top-text {
  color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
  background-image: linear-gradient(180deg, #A5A5A5 0%, rgba(255, 255, 255, 0) 100%);
  font-size: 48px;
  font-weight: 700;
  line-height: 69.36px;
  letter-spacing: -0.02em;
  text-align: left;
}
.page-6__bottom-text {
  max-width: 408px;
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  line-height: 28.9px;
  letter-spacing: -0.02em;
  text-align: left;
}

/* ============ PAGE-7 ============== */
.page-7 {
  height: 100vh;
  width: 100%;
  /* background-color: rgba(106, 34, 172, 1); */
}
.page-7__text-block {
  position: fixed;
  right: 179px;
  pointer-events: none;
  bottom: 240px;
  opacity: 0;
}
.page-7__count {
  position: absolute;
  top: 0;
  right: -38px;
  transform: translate(-100%, -100%);
  font-size: 24px;
  font-weight: 700;
  line-height: 34.68px;
  letter-spacing: -0.02em;
  text-align: left;
  color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
  background-image: linear-gradient(180deg, #A5A5A5 0%, rgba(255, 255, 255, 0) 100%);
}
/* Firefox */
@-moz-document url-prefix() {
  .page-7__count {
    color: #A5A5A5;
    background-image: none;
    -webkit-background-clip: initial;
    background-clip: initial;
  }
}
.page-7__top-text {
  margin-bottom: 16px;
  color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
  background-image: linear-gradient(180deg, #A5A5A5 0%, rgba(255, 255, 255, 0) 100%);
  font-size: 48px;
  font-weight: 700;
  line-height: 69.36px;
  letter-spacing: -0.02em;
  text-align: left;
}
.page-7__bottom-text {
  max-width: 408px;
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  line-height: 28.9px;
  letter-spacing: -0.02em;
  text-align: left;
}

/* ============== PAGE-8 =============== */

.page-8 {
  height: 100vh;
  width: 100%;
}
.page-8__text-block {
  position: fixed;
  left: 50%;
  top: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.page-8__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.02em;
  text-align: left;
}
.other-gradient-color {
  color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
  background-image: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.46) 100%);
}

/* =========== PAGE-9 ============== */
.page-9 {
  height: 100vh;
  width: 100%;
}
.first-clue {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.first-clue__text-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.first-clue__title {
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  line-height: 69.36px;
  text-align: left;
}
.first-clue__subtitle {
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}
.first-clue__big-round {
  position: absolute;
  top: -86%;
  left: -197%;
}
.first-clue__big-round-check {
  position: absolute;
  top: -73px;
  left: -13px;
}

/* ======== PAGE 10-13 ========== */
.page-10 {
  width: 100%;
  height: 100vh;
}
.page-11 {
  width: 100%;
  height: 100vh;
}
.page-12 {
  width: 100%;
  height: 100vh;
}
.page-13 {
  width: 100%;
  height: 100vh;
}
.page-14 {
  width: 100%;
  height: 100vh;
}
.page-15 {
  width: 100%;
  height: 100vh;
}
.page-16 {
  width: 100%;
  height: 100vh;
}
.page-17 {
  width: 100%;
  height: 100vh;
}
/* ========================== */
.second-clue {
  position: fixed;
  top: 50%;
  left: 755px;
  transform: translateY( -50%);
  opacity: 0;
}
.second-clue__text-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.second-clue__title {
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  line-height: 69.36px;
  text-align: left;
}
.second-clue__subtitle {
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}
.second-clue__big-round {
  position: absolute;
  top: -977%;
  left: -273%;
}
.second-clue__big-round-check {
  position: absolute;
  top: -73px;
  left: -13px;
}
/* ================ */
.third-clue {
  position: fixed;
  top: 50%;
  right: 176px;
  transform: translateY( -50%);
  opacity: 0;
}
.third-clue__text-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.third-clue__title {
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  line-height: 69.36px;
  text-align: left;
}
.third-clue__subtitle {
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}
.third-clue__big-round {
  position: absolute;
  top: -977%;
  left: -192%;
}
.third-clue__big-round-check {
  position: absolute;
  top: -73px;
  left: -13px;
}

/* =================== */

.fourth-clue {
  position: fixed;
  bottom: 152px;
  left: 400px;
  opacity: 0;
}
.fourth-clue__text-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.fourth-clue__title {
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  line-height: 69.36px;
  text-align: left;
}
.fourth-clue__subtitle {
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}
.fourth-clue__big-round {
  position: absolute;
  top: -67%;
  left: -345%;
}
.fourth-clue__big-round-check {
  position: absolute;
  top: -73px;
  left: -13px;
}

/* ========================== */
.fifth-clue {
  position: fixed;
  top: 221px;
  right: 400px;
  opacity: 0;
}
.fifth-clue__text-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.fifth-clue__title {
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  line-height: 69.36px;
  text-align: left;
}
.fifth-clue__subtitle {
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}
.fifth-clue__big-round {
  position: absolute;
  top: -1158%;
  left: -246%;
}
.fifth-clue__big-round-check {
  position: absolute;
  top: -73px;
  left: -13px;
}

/* ============= PAGE-18 ================ */
.page-18 {
  width: 100%;
  height: 100vh;
}
.page-18__title {
  position: fixed;
  opacity: 0;
  top: 50%;
  right: 240px;
  transform: translateY(-50%);
  background-image: linear-gradient(261.69deg, #B400E1 43.79%, #6400E3 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.02em;
  text-align: left;
}
.span-black {
  color: rgba(48, 48, 48, 1);
}
/* =========== PAGE-19 =========== */
.page-19 {
  width: 100%;
  height: 100vh;
}
.page-19__text-container {
  position: fixed;
  left: 320px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}
.page-19__title {
  background-image: linear-gradient(261.69deg, #B400E1 43.79%, #6400E3 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.02em;
  text-align: left;
}
.page-19__subtitle {
  position: absolute;
  right: 0;
  bottom: 0;
  color: rgba(48, 48, 48, 1);
  font-size: 20px;
  font-weight: 500;
  line-height: 28.9px;
  letter-spacing: -0.02em;
  transform: translate(100%, 100%);
  text-align: left;
  width: 396px;
}
/* ======== PAGE-20 ========= */
.page-20 {
  width: 100%;
  height: 100vh;
}
.page-20__text-container {
  position: fixed;
  right: 502px;
  bottom: 331px;
  opacity: 0;
}
.page-20__title {
  color: rgba(48, 48, 48, 1);
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.02em;
  text-align: left;
}
.page-20__subtitle {
  position: absolute;
  color: rgba(48, 48, 48, 1);
  font-size: 20px;
  font-weight: 500;
  line-height: 28.9px;
  letter-spacing: -0.02em;
  text-align: left;
  right: 0;
  bottom: 0;
  transform: translate(100%, 100%);
  width: 305px;
}
/* ======== PAGE-21 ========== */
.page-21 {
  width: 100%;
  height: 100vh;
}
.page-21__text-container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.page-21__title {
  background-image: linear-gradient(261.69deg, #B400E1 43.79%, #6400E3 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.02em;
  text-align: left;
}

.page-21__subtitle {
  position: absolute;
  left: -17px;
  bottom: -22px;
  transform: translate(-100%, 100%);
  color: rgba(48, 48, 48, 1);
  font-size: 20px;
  font-weight: 500;
  line-height: 28.9px;
  letter-spacing: -0.02em;
  text-align: left;
  width: 305px;
}
/* =========== PAGE-22 ============ */
.page-22 {
  width: 100%;
  height: 100vh;
}
.page-22__text-container {
  position: fixed;
  left: 240px;
  bottom: 240px;
  opacity: 0;
}
.page-22__title {
  background-image: linear-gradient(261.69deg, #B400E1 43.79%, #6400E3 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.02em;
  text-align: left;
}
.page-22__subtitle {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(100%, -100%);
  color: rgba(48, 48, 48, 1);
  font-size: 20px;
  font-weight: 500;
  line-height: 28.9px;
  letter-spacing: -0.02em;
  text-align: left;
  width: 305px;
}

/* ========== PAGE-23 =========== */
.page-23 {
  width: 100%;
  height: 100vh;
}
.page-23__content {
  position: fixed;
  display: flex;
  flex-direction: column;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 150px;
}
.page-23__title {
  background-image: linear-gradient(261.69deg, #B400E1 43.79%, #6400E3 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-bottom: 40px;
}
.page-23__subtitle {
  color: rgba(48, 48, 48, 1);
  width: 305px;
  font-size: 20px;
  font-weight: 500;
  line-height: 28.9px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-bottom: 64px;
}
.page-23__input {
  border: none;
  outline: none;
  padding: 0;
  font-family: "Jost";
  font-size: 40px;
  font-weight: 700;
  line-height: 57.8px;
  text-align: left;
  color: rgba(48, 48, 48, 1);
  background-color: transparent;
}
.page-23__input::placeholder {
  font-family: "Jost";
  font-size: 40px;
  font-weight: 700;
  line-height: 57.8px;
  text-align: left;
  color: rgba(165, 165, 165, 1);
}
.page-23__input_name {
  margin-bottom: 24px;
}
.page-23__input_contact {
  margin-bottom: 80px;
}
.page-23__send-btn {
  background-color: transparent;
  width: fit-content;
  box-sizing: border-box;
  outline: none;
  padding: 12px 12.5px;
  border: 1px solid rgba(48, 48, 48, 0.2);
  display: flex;
  align-items: center;
  gap: 8px;
  pointer-events: none;
  transition: background-color .24s ease-in;
  pointer-events: all;
}
.page-23__send-btn-text {
  color: rgba(48, 48, 48, 1);
  font-size: 16px;
  font-weight: 700;
  line-height: 23.12px;
  letter-spacing: 0.1em;
  text-align: left;
  transition: color .24s linear;
}
.page-23__send-btn_active {
  background: linear-gradient(261.69deg, #B400E1 43.79%, #6400E3 100%);
}
.page-23__send-btn_active .page-23__send-btn-text {
  color: #FFF;
}
.page-23__send-btn_active:hover {
  cursor: pointer;
}
.page-23-arrow-down {
  position: fixed;
  left: 50%;
  top: 80px;
  opacity: 0;
  transform: translateX(-50%) rotate(180deg);
  transition: opacity .24 ease;
}