@font-face{
  font-family: "Jost";
  src: url("./fonts/Jost-Medium.ttf") format('ttf'), url("./fonts/Jost-Medium.woff") format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face{
  font-family: "Jost";
  src: url("./fonts/Jost-Bold.ttf") format('ttf'), url("./fonts/Jost-Bold.woff") format('woff');
  font-weight: 700;
  font-style: normal;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Jost';
  font-weight: 500;
  color: #FFF;
  background:  rgba(106, 34, 172, 1);
}

body::-webkit-scrollbar {width: 0px;}

button {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

img{
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

a,a:hover{
  text-decoration: none;
}

.burger-bar {
  position: fixed;
  top: 50px;
  left: 56px;
  z-index: 10;
  display: flex;
  gap: 24px;
  align-items: center;
  width: fit-content;
}
.burger-bar:hover .burger-bar__icon {
  transform: translateX(-3px);
  cursor: pointer;
}
.burger-bar__icon {
  transition: transform .24s ease;
}
.burger-bar__logo:hover {
  cursor: pointer;
}
.blur-circle {
  width: 1000px;
  height: 1000px;
  box-sizing: border-box;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 0;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  filter: blur(100px);
  backdrop-filter: blur(100px);
  opacity: 0;
}
.blur-circle-page-4 {
  width: 1000px;
  height: 1000px;
  box-sizing: border-box;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 0;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  filter: blur(100px);
  backdrop-filter: blur(100px);
  opacity: 0.2;
  left: 50%;
  transform: translateX(-50%);
}
.connect-button {
  position: fixed;
  z-index: 10;
  top: 38px;
  right: 56px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 1);
  background-color: transparent;
  box-sizing: border-box;
  padding: 12.5px 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "Jost";
}
.connect-button:hover {
  cursor: pointer;
}
.connect-button__text {
  font-size: 16px;
  font-weight: 700;
  line-height: 23.12px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #FFF;
}
.connect-button__arrow {
  transition: transform .24s linear;
}
.connect-button:hover .connect-button__arrow {
  transform: translateX(3px);
}
.common-arrow-down {
  position: fixed;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.side-map {
  position: fixed;
  z-index: 10;
  width: 125px;
  left: 76px;
  top: 50%;
  transform: translateY(-50%);
}
.side-map__images-circle {
  position: absolute;
}
.side-map__images-circle_1 {
  top: 0;
  left: 0;
  transform: translateX(-50%);
}
.side-map__images-circle_2 {
  top: 73px;
  left: 0;
  transform: translateX(-50%);
}
.side-map__images-circle_3 {
  top: 157px;
  left: 0;
  transform: translateX(-50%);
}
.side-map__images-circle_4 {
  top: 251px;
  left: 0;
  transform: translateX(-50%);
}
.side-map__links {
  transition: opacity .24s ease, transform .24s ease;
  opacity: 0; 
  pointer-events: none;
}
.side-map:hover .side-map__links {
  opacity: 1;
  pointer-events: all;
}

.side-map__link {
  position: absolute;
  text-decoration: none;
  color: #FFF;
  font-family: "Jost";
  font-size: 20px;
  font-weight: 500;
  line-height: 28.9px;
  letter-spacing: -0.02em;
  text-align: left;
}
.side-map__link:hover {
  cursor: pointer;
}
.side-map__link_1 {
  top: -11px;
  left: 25px;
}
.side-map__link_2 {
  left: 25px;
  top: 64px;
}
.side-map__link_3 {
  left: 25px;
  top: 147px;
}
.side-map__link_4 {
  left: 25px;
  top: 240px;
}
/* ======================== COMMON =================== */

.center-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -0.02em;
  text-align: left;
  color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(180deg, #A5A5A5 0%, rgba(255, 255, 255, 0) 100%);
}

/* ======================== PAGE-1 ================== */
.page-1 {
  height: 100vh;
  width: 100%;
  /* background-color: rgba(106, 34, 172, 1); */
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-1__text-block {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.page-1__top-text {
  transform: translateX(85px);
}

.page-1__bottom-text {
  transform: translateX(-85px);
}

.page-white-color {
  color: #FFF;
}

/* =========== PAGE-2 ========== */
.page-2 {
  height: 100vh;
  width: 100%;
  /* background-color: rgba(106, 34, 172, 1); */
}
.page-2__text-block {
  position: fixed;
  left: 160px;
  bottom: 187px;
  pointer-events: none;
  opacity: 0;
}
.page-2__top-text {
  color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
  background-image: linear-gradient(180deg, #A5A5A5 0%, rgba(255, 255, 255, 0) 100%);
  font-size: 48px;
  font-weight: 700;
  line-height: 69.36px;
  letter-spacing: -0.02em;
  text-align: left;
}
.page-2__count {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-100%, -100%);
  font-size: 24px;
  font-weight: 700;
  line-height: 34.68px;
  letter-spacing: -0.02em;
  text-align: left;
  color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
  background-image: linear-gradient(180deg, #A5A5A5 0%, rgba(255, 255, 255, 0) 100%);
}
.page-2__bottom-text {
  max-width: 425px;
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  line-height: 28.9px;
  letter-spacing: -0.02em;
  text-align: left;
}

/* ================= PAGE-3 ================= */
.page-3 {
  height: 100vh;
  width: 100%;
  /* background-color: rgba(106, 34, 172, 1); */
}
.page-3__text-block {
  position: fixed;
  right: 180px;
  bottom: 187px;
  pointer-events: none;
  opacity: 0;
}
.page-3__top-text {
  color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
  background-image: linear-gradient(180deg, #A5A5A5 0%, rgba(255, 255, 255, 0) 100%);
  font-size: 48px;
  font-weight: 700;
  line-height: 69.36px;
  letter-spacing: -0.02em;
  text-align: left;
}
.page-3__count {
  position: absolute;
  top: 0;
  right: -32px;
  transform: translate(-100%, -100%);
  font-size: 24px;
  font-weight: 700;
  line-height: 34.68px;
  letter-spacing: -0.02em;
  text-align: left;
  color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
  background-image: linear-gradient(180deg, #A5A5A5 0%, rgba(255, 255, 255, 0) 100%);
}
.page-3__bottom-text {
  max-width: 408px;
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  line-height: 28.9px;
  letter-spacing: -0.02em;
  text-align: left;
}

/* ================== PAGE-4 =============== */
.page-4 {
  height: 100vh;
  width: 100%;
  /* background-color: rgba(106, 34, 172, 1); */
}
.page-4__text-block {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  bottom: 216px;
  opacity: 0;
}
.page-4__count {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  font-size: 24px;
  font-weight: 700;
  line-height: 34.68px;
  letter-spacing: -0.02em;
  text-align: left;
  color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
  background-image: linear-gradient(180deg, #A5A5A5 0%, rgba(255, 255, 255, 0) 100%);
}

.page-4__top-text {
  color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
  background-image: linear-gradient(180deg, #A5A5A5 0%, rgba(255, 255, 255, 0) 100%);
  font-size: 48px;
  font-weight: 700;
  line-height: 69.36px;
  letter-spacing: -0.02em;
  text-align: left;
}
.page-4__bottom-text {
  max-width: 408px;
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  line-height: 28.9px;
  letter-spacing: -0.02em;
  text-align: left;
}

/* =============== PAGE-5 ===================== */
.page-5 {
  height: 100vh;
  width: 100%;
  /* background-color: rgba(106, 34, 172, 1); */
}
.page-5__text-block {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 0;
}
.page-5__count {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  font-size: 24px;
  font-weight: 700;
  line-height: 34.68px;
  letter-spacing: -0.02em;
  text-align: left;
  color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
  background-image: linear-gradient(180deg, #A5A5A5 0%, rgba(255, 255, 255, 0) 100%);
}

.page-5__top-text {
  color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
  background-image: linear-gradient(180deg, #A5A5A5 0%, rgba(255, 255, 255, 0) 100%);
  font-size: 48px;
  font-weight: 700;
  line-height: 69.36px;
  letter-spacing: -0.02em;
  text-align: left;
}
.page-5__bottom-text {
  max-width: 408px;
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  line-height: 28.9px;
  letter-spacing: -0.02em;
  text-align: center;
}

/* ========= PAGE-6 ============= */
.page-6 {
  height: 100vh;
  width: 100%;
  /* background-color: rgba(106, 34, 172, 1); */
}
.page-6__text-block {
  position: fixed;
  left: 164px;
  bottom: 158px;
  pointer-events: none;
  opacity: 0;
}
.page-6__count {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-100%, -100%);
  font-size: 24px;
  font-weight: 700;
  line-height: 34.68px;
  letter-spacing: -0.02em;
  text-align: left;
  color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
  background-image: linear-gradient(180deg, #A5A5A5 0%, rgba(255, 255, 255, 0) 100%);
}
.page-6__top-text {
  color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
  background-image: linear-gradient(180deg, #A5A5A5 0%, rgba(255, 255, 255, 0) 100%);
  font-size: 48px;
  font-weight: 700;
  line-height: 69.36px;
  letter-spacing: -0.02em;
  text-align: left;
}
.page-6__bottom-text {
  max-width: 408px;
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  line-height: 28.9px;
  letter-spacing: -0.02em;
  text-align: left;
}

/* ============ PAGE-7 ============== */
.page-7 {
  height: 100vh;
  width: 100%;
  /* background-color: rgba(106, 34, 172, 1); */
}
.page-7__text-block {
  position: fixed;
  right: 179px;
  pointer-events: none;
  bottom: 240px;
  opacity: 0;
}
.page-7__count {
  position: absolute;
  top: 0;
  right: -38px;
  transform: translate(-100%, -100%);
  font-size: 24px;
  font-weight: 700;
  line-height: 34.68px;
  letter-spacing: -0.02em;
  text-align: left;
  color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
  background-image: linear-gradient(180deg, #A5A5A5 0%, rgba(255, 255, 255, 0) 100%);
}
.page-7__top-text {
  margin-bottom: 16px;
  color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
  background-image: linear-gradient(180deg, #A5A5A5 0%, rgba(255, 255, 255, 0) 100%);
  font-size: 48px;
  font-weight: 700;
  line-height: 69.36px;
  letter-spacing: -0.02em;
  text-align: left;
}
.page-7__bottom-text {
  max-width: 408px;
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  line-height: 28.9px;
  letter-spacing: -0.02em;
  text-align: left;
}

/* ============== PAGE-8 =============== */

.page-8 {
  height: 100vh;
  width: 100%;
}
.page-8__text-block {
  position: fixed;
  left: 50%;
  top: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.page-8__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.02em;
  text-align: left;
}
.other-gradient-color {
  color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
  background-image: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.46) 100%);
}